@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  background: #f8f8fb;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.button {
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-1 {
  background: #7c5dfa;
  width: 150px;
  height: 48px;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button-1:hover, .button-1:active {
  background: #9277ff;
}

.button-1 .button-text {
  color: #ffffff;
}

.button-2 {
  background: #7c5dfa;
  color: #ffffff;
  width: 128px;
  height: 48px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button-2:hover, .button-2:active {
  background: #9277ff;
}

.button-3 {
  width: 96px;
  height: 48px;
  color: #7e88c3;
}

.button-4 {
  width: 133px;
  height: 48px;
  background: #373b53;
  color: #888eb0;
}

.button-6 {
  background: #f9fafe;
  color: #7e88c3;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  padding: 1.5rem 0;
}

.button-7 {
  background: #ec5757;
  width: 89px;
  height: 48px;
  border-radius: 24px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button-7:hover, .button-7:active {
  background: #ff9797;
}

.button-8 {
  background: #f9fafe;
  width: 73px;
  height: 48px;
  border-radius: 24px;
  color: #7e88c3;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button-8:hover, .button-8:active {
  background: #dfe3fa;
}

.button-image {
  background: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 10px;
}

.button-image img {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.calendar {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 95px;
  left: 0;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
          box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  background: #ffffff;
  border-radius: 8px;
}

.calendar .active {
  color: #7c5dfa;
}

.calendar-container {
  width: 100%;
  padding: 2rem 1rem;
}

.calendar-month__data td {
  text-align: center;
  width: 1px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  cursor: pointer;
}

.calendar-month__data td:hover, .calendar-month__data td:active {
  color: #7c5dfa;
  cursor: pointer;
}

.calendar-month__heading {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  cursor: pointer;
}

.calendar-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.8rem 0 2rem 0;
}

.calendar-controls__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-controls__prev {
  margin-right: auto;
}

.calendar-controls__prev, .calendar-controls__next {
  width: 4%;
  cursor: pointer;
}

.calendar-controls__prev img, .calendar-controls__next img {
  width: 100%;
  height: 100%;
  display: block;
}

.calendar-table {
  border-collapse: collapse;
  width: 100%;
}

.calendar-body {
  height: 243px;
  background-color: transparent;
}

.calendar-body td {
  text-align: center;
}

.calendar-body__text {
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 15px;
  font-weight: 700;
}

.calendar-header {
  background: peachpuff;
}

.calendar-days {
  padding: 0 0.5rem;
}

.calendar-year {
  margin-left: 0.3rem;
}

.calendar-monthdays, .calendar-year, .calendar-month {
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 15px;
  font-weight: 700;
}

.calendar-monthdays:hover, .calendar-monthdays:active, .calendar-year:hover, .calendar-year:active, .calendar-month:hover, .calendar-month:active {
  color: #7c5dfa;
  cursor: pointer;
}

.calendar-date {
  background: pink;
}

.hide-calendar {
  visibility: hidden;
  opacity: 0;
}

.display-calendar {
  visibility: visible;
  opacity: 1;
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.control-header {
  margin-right: auto;
  width: 60%;
}

.control-header__title {
  font-size: 32px;
  font-weight: 700;
  color: #0c0e16;
}

.control-header__text {
  font-size: 12px;
  font-weight: 500;
  color: #888eb0;
}

.control-filter {
  margin-right: 4rem;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.control-filter__title--text {
  font-size: 12px;
  font-weight: 700;
  color: #0c0e16;
  margin-right: 10px;
}

.control-filter__title--img .default {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.control-filter__title--img .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.control-filter__dropdown {
  position: absolute;
  top: 35px;
  left: -35px;
  width: 192px;
  height: 128px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
          box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  background: #ffffff;
  padding: 3rem 2.5rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.control-filter__dropdown--container {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 1.3rem;
  margin-left: 3rem;
  cursor: pointer;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-filter__dropdown--container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.control-filter__dropdown--container .checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  height: 16px;
  background: #dfe3fa;
  width: 16px;
  border-radius: 2px;
}

.control-filter__dropdown--container:hover input ~ .checkmark {
  border: 1px solid #7c5dfa;
}

.control-filter__dropdown--container input:checked ~ .checkmark {
  background: #7c5dfa;
}

.control-filter__dropdown--container .checkmark::after {
  content: "";
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
}

.control-filter__dropdown--container input:checked ~ .checkmark::after {
  display: block;
}

.control-filter__dropdown--container .checkmark::after {
  left: 2px;
  top: 3px;
  width: 153px;
  height: 9px;
}

.slide-down {
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
  visibility: visible;
}

.slide-up {
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

.invoice {
  width: 100%;
  position: relative;
}

.invoice-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

.invoice-empty__image {
  width: 241.34px;
  height: 200px;
}

.invoice-empty__heading {
  margin-top: 6rem;
  text-align: center;
}

.invoice-empty__heading h2 {
  color: #0c0e16;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.invoice-empty__heading span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #888eb0;
}

.invoice-tiles__content {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5rem 4rem;
  text-align: left;
  text-decoration: none;
}

.invoice-tiles__content:hover {
  border: 1px solid #7c5dfa;
}

.invoice-tiles__content:not(:last-child) {
  margin-bottom: 2rem;
}

.invoice-tiles__content--id, .invoice-tiles__content--payment-due, .invoice-tiles__content--client-name {
  width: 25%;
}

.invoice-tiles__content img {
  width: 1%;
  height: 1%;
  display: block;
  margin-left: 2rem;
}

.invoice-tiles__content--id {
  color: #0c0e16;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.invoice-tiles__content--id span {
  color: #7e88c3;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: -0.25px;
}

.invoice-tiles__content--payment-due, .invoice-tiles__content--client-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.invoice-tiles__content--payment-due {
  color: #888eb0;
}

.invoice-tiles__content--client-name {
  text-align: left;
  color: #858bb2;
}

.invoice-tiles__content--total-amount {
  width: 20%;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.8px;
  text-align: left;
}

.invoice-tiles__content--status {
  padding: 1rem 2rem;
  width: 18%;
  text-align: center;
  border-radius: 6px;
}

.invoice-tiles__content--status p {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
}

.invoice-tiles__content--status p span:first-child {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.invoice-tiles__content--status-paid {
  background: rgba(51, 214, 159, 0.06);
}

.invoice-tiles__content--status-paid p span:first-child {
  background: #33d69f;
}

.invoice-tiles__content--status-paid p span:last-child {
  color: #33d69f;
}

.invoice-tiles__content--status-pending {
  background: rgba(255, 143, 0, 0.06);
}

.invoice-tiles__content--status-pending p span:first-child {
  background: #ff8f00;
}

.invoice-tiles__content--status-pending p span:last-child {
  color: #ff8f00;
}

.invoice-tiles__content--status-draft {
  background: rgba(55, 59, 83, 0.06);
}

.invoice-tiles__content--status-draft p span:first-child {
  background: #373b53;
}

.invoice-tiles__content--status-draft p span:last-child {
  color: #373b53;
}

.details-tiles {
  margin-bottom: 24px;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

.details-tiles__link {
  margin-bottom: 32px;
}

.details-tiles__link img {
  margin-right: 24px;
}

.details-tiles__link a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.details-tiles__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 20px 32px;
  border-radius: 8px;
}

.details-tiles__tile--status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.details-tiles__tile--status-text {
  color: #858bb2;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
  margin-right: 16px;
}

.details-tiles__tile--status-status {
  background: rgba(255, 143, 0, 0.06);
  border-radius: 6px;
}

.details-tiles__tile--status-status p {
  color: #ff8f00;
  padding: 1rem 2rem;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
}

.details-tiles__tile--status-status p span:first-child {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 0.7rem;
  background: #ff8f00;
}

.details-tiles__tile--status-status__pending {
  background: rgba(255, 143, 0, 0.06);
}

.details-tiles__tile--status-status__pending p span:first-child {
  background: #ff8f00;
}

.details-tiles__tile--status-status__pending p span:last-child {
  color: #ff8f00;
}

.details-tiles__tile--status-status__draft {
  background: rgba(55, 59, 83, 0.06);
}

.details-tiles__tile--status-status__draft p span:first-child {
  background: #373b53;
}

.details-tiles__tile--status-status__draft p span:last-child {
  color: #373b53;
}

.details-tiles__tile--status-status__paid {
  background: rgba(51, 214, 159, 0.06);
}

.details-tiles__tile--status-status__paid p span:first-child {
  background: #33d69f;
}

.details-tiles__tile--status-status__paid p span:last-child {
  color: #33d69f;
}

.details-tiles__tile--buttons button:not(:last-child) {
  margin-right: 8px;
}

.details-body__wrapper {
  background: #ffffff;
  padding: 48px 48px;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}

.details-body {
  margin-bottom: 49px;
}

.details-body__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.details-body__heading--title {
  margin-right: auto;
}

.details-body__heading--title-id {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
  display: block;
  color: #0c0e16;
  margin-bottom: 8px;
}

.details-body__heading--title-id span {
  color: #7e88c3;
  font-size: 16px;
  font-weight: 700;
}

.details-body__heading--title-text {
  color: #7e88c3;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
}

.details-body__heading--address {
  color: #7e88c3;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.23px;
}

.details-body__heading--address span {
  text-align: right;
}

.details-body__heading--address span:not(:last-child) {
  display: block;
}

.details-body__billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.details-body__billing--title {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 500;
  text-transform: capitalize;
  color: #7e88c3;
  margin-bottom: 12px;
}

.details-body__billing--date {
  width: 25%;
}

.details-body__billing--date-1 {
  margin-bottom: 32px;
}

.details-body__billing--date-1 p:last-child {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.31px;
  color: #0c0e16;
}

.details-body__billing--date-2 p:last-child {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.31px;
  color: #0c0e16;
}

.details-body__billing--address {
  width: 35%;
}

.details-body__billing--address-address {
  color: #7e88c3;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.31px;
}

.details-body__billing--address-address span {
  display: block;
}

.details-body__billing--address-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.31px;
  color: #0c0e16;
  margin-bottom: 8px;
}

.details-body__billing--email {
  min-width: 35%;
}

.details-body__billing--email-email {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.31px;
  color: #0c0e16;
}

.details-items {
  background: #f9fafe;
  border-radius: 8px;
}

.details-items__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  padding: 32px 32px 0 32px;
}

.details-items__heading--title {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.23px;
  color: #7e88c3;
  text-transform: capitalize;
  width: 100%;
}

.details-items__heading--title-1 {
  width: 40%;
}

.details-items__heading--title-2 {
  width: 9%;
  text-align: center;
}

.details-items__heading--title-3 {
  width: 26%;
  text-align: right;
}

.details-items__heading--title-4 {
  width: 26%;
  text-align: right;
}

.details-items__list {
  margin-bottom: 40px;
  padding: 0 32px 0 32px;
}

.details-items__list--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.details-items__list--items-item {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.details-items__list--items-item-1 {
  font-weight: 700;
  color: #0c0e16;
  width: 40%;
}

.details-items__list--items-item-2, .details-items__list--items-item-3 {
  color: #7e88c3;
}

.details-items__list--items-item-2 {
  width: 9%;
  text-align: center;
}

.details-items__list--items-item-3 {
  text-align: right;
  width: 26%;
}

.details-items__list--items-item-4 {
  text-align: right;
  font-weight: 700;
  width: 25%;
}

.details-items__amount {
  background: #373b53;
  border-radius: 0 0 8px 8px;
  padding: 24px 32px 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-items__amount p {
  color: #ffffff;
}

.details-items__amount--text {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.23px;
  text-transform: capitalize;
  margin-right: auto;
}

.details-items__amount--figure {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.form {
  position: fixed;
  top: 0;
  left: 80px;
  z-index: 6;
  overflow-y: scroll;
  width: 719px;
  height: 100vh;
  background: #ffffff;
  padding: 5rem 8rem 4rem 10rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-animation-name: slide-right;
          animation-name: slide-right;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.form-heading {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  color: #0c0e16;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin-bottom: 3rem;
}

.form-heading span:first-child {
  color: #888eb0;
}

.form-heading span:last-child {
  text-transform: uppercase;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="email"] {
  font-size: 12px;
  font-weight: 700;
  color: #0c0e16;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-family: "Spartan", sans-serif;
}

.form-elements {
  width: 100%;
}

.form-elements__group {
  margin-bottom: 2rem;
  position: relative;
}

.form-elements__group label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: -0.25px;
  display: block;
  color: #7e88c3;
  margin-bottom: 0.8rem;
}

.form-elements__group .label-error {
  color: #ec5757;
}

.form-elements__group--heading {
  font-size: 12px;
  font-weight: 700;
  color: #7c5dfa;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-bottom: 1.5rem;
}

.form-elements__group--main {
  position: relative;
}

.form-elements__group--main-error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.21px;
  color: #ec5757;
  font-weight: 600;
}

.form-elements__group--input, .form-elements__group--subInput {
  padding: 1.5rem 1.8rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dfe3fa;
}

.form-elements__group--input:hover, .form-elements__group--input:active, .form-elements__group--subInput:hover, .form-elements__group--subInput:active {
  border: 1px solid #9277ff;
  cursor: pointer;
}

.form-elements__group--input:focus, .form-elements__group--subInput:focus {
  border: 1px solid #9277ff;
}

.form-elements__group--input {
  width: 100%;
}

.form-elements__group--input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  opacity: 0.4;
  color: #0c0e16;
}

.form-elements__group--input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  opacity: 0.4;
  color: #0c0e16;
}

.form-elements__group--input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  opacity: 0.4;
  color: #0c0e16;
}

.form-elements__group--input::placeholder {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  opacity: 0.4;
  color: #0c0e16;
}

.form-elements__group--subInput {
  width: 100%;
}

.form-elements__group--sub {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-elements__group--sub .form-elements__group {
  width: 100%;
}

.form-elements__group--sub .form-elements__group:not(:last-child) {
  margin-right: 20px;
}

.form-elements__group--sub .form-elements__group--main:not(:last-child) {
  margin-right: 20px;
}

.form-elements__group--period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

.form-elements__group--period .invoice-date,
.form-elements__group--period .payment-terms {
  width: 48%;
}

.form-elements__group--period .payment-terms {
  position: relative;
}

.form-elements__group--period .payment-terms .default {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.form-elements__group--period .payment-terms .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-elements__group--period .payment-terms__list {
  list-style: none;
  background: #ffffff;
  border-radius: 8px;
  padding: 1.5rem 1.8rem;
  -webkit-box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
          box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.form-elements__group--period .payment-terms__list--item {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 15px;
  color: #0c0e16;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.form-elements__group--period .payment-terms__list--item:not(:last-child)::after {
  content: "";
  width: calc(100% + 50px);
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -25px;
  background: #dfe3fa;
  display: block;
}

.form-elements__group--period .payment-terms__list--item:hover, .form-elements__group--period .payment-terms__list--item:active {
  color: #7c5dfa;
}

.form-elements__group--period .payment-terms label,
.form-elements__group--period .invoice-date label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: -0.25px;
  display: block;
  color: #7e88c3;
  margin-bottom: 0.8rem;
}

.form-elements__group--period .payment-terms .invoice-date__items,
.form-elements__group--period .payment-terms .payment-terms__items,
.form-elements__group--period .invoice-date .invoice-date__items,
.form-elements__group--period .invoice-date .payment-terms__items {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  padding: 1.5rem 1.8rem;
  border-radius: 4px;
  border: 1px solid #dfe3fa;
  width: 100%;
  height: 48px;
}

.form-elements__group--period .payment-terms .invoice-date__items:hover, .form-elements__group--period .payment-terms .invoice-date__items:active,
.form-elements__group--period .payment-terms .payment-terms__items:hover,
.form-elements__group--period .payment-terms .payment-terms__items:active,
.form-elements__group--period .invoice-date .invoice-date__items:hover,
.form-elements__group--period .invoice-date .invoice-date__items:active,
.form-elements__group--period .invoice-date .payment-terms__items:hover,
.form-elements__group--period .invoice-date .payment-terms__items:active {
  border: 1px solid #9277ff;
}

.form-elements__group--period .payment-terms .invoice-date__items--active,
.form-elements__group--period .payment-terms .payment-terms__items--active,
.form-elements__group--period .invoice-date .invoice-date__items--active,
.form-elements__group--period .invoice-date .payment-terms__items--active {
  border: 1px solid #9277ff;
}

.form-elements__group--period .payment-terms p,
.form-elements__group--period .invoice-date p {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-elements__group--period .payment-terms p span:first-child,
.form-elements__group--period .invoice-date p span:first-child {
  margin-right: auto;
}

.form-elements__group--period .invoice-date {
  position: relative;
}

.form-elements__group--items {
  margin-top: 4rem;
}

.form-elements__group--items button {
  width: 100%;
}

.form-elements__group--items h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.38px;
  text-transform: capitalize;
  color: #777f98;
  margin-bottom: 1rem;
}

.form-elements__group--items-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.form-elements__group--items-label p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.form-elements__group--items-label-1 {
  width: 45%;
}

.form-elements__group--items-label-2 {
  width: 15%;
}

.form-elements__group--items-label-3 {
  width: 20%;
}

.form-elements__group--items .button-6 {
  margin-top: 2rem;
}

.form-elements__group--items-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.form-elements__group--items-btns .button-3 {
  margin-right: auto;
}

.form-elements__group--items-btns .button-4 {
  margin-right: 1rem;
}

.form-elements__group--items-editBtns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-elements__group--items-editBtns button:first-child {
  width: 96px;
  margin-right: 1rem;
}

.form-elements__group--items-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-elements__group--items-form .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

.form-elements__group--items-form .list .delete-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #888eb0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-elements__group--items-form .list .delete-icon:hover {
  cursor: pointer;
  fill: #ec5757;
}

.form-elements__group--items-form .itemForm-1 {
  width: 45%;
}

.form-elements__group--items-form .itemForm-2 {
  width: 15%;
}

.form-elements__group--items-form .itemForm-3 {
  width: 20%;
}

.form-elements__group--items-form div {
  margin-bottom: 0;
}

.form-elements__group--items-form #item-name {
  margin-right: 2rem;
  width: 214px;
}

.form-elements__group--items-form #item-qty {
  width: 46px;
  margin-right: 2rem;
}

.form-elements__group--items-form #item-price {
  width: 100px;
}

.form-elements__group--items-form input {
  padding: 1.5rem 1rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dfe3fa;
  width: 100%;
  /* Firefox */
}

.form-elements__group--items-form input::-webkit-outer-spin-button, .form-elements__group--items-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-elements__group--items-form input[type="number"] {
  -moz-appearance: textfield;
}

.form-elements__group--items-form input:hover, .form-elements__group--items-form input:active {
  border: 1px solid #9277ff;
  cursor: pointer;
}

.form-elements__group--items-form input:focus {
  border: 1px solid #9277ff;
}

.form-elements__group--items-form p {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 3rem;
  margin-right: auto;
}

.form-elements__group--items-form img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.form-elements .list-error {
  border: 1px solid #ec5757 !important;
}

.form-error {
  margin-top: 3.5rem;
}

.form-error__text, .form-error__input {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.21px;
  color: #ec5757;
}

.form-error__text:last-child, .form-error__input:last-child {
  margin-top: 0.3rem;
}

.inputError {
  border: 1px solid #ec5757;
}

.slide-down {
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav {
  background: #373b53;
  height: 100vh;
  width: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 7;
}

.nav-logo {
  margin-bottom: auto;
  background: #7c5dfa;
  position: relative;
  width: 103px;
  height: 103px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.nav-logo::after {
  content: "";
  position: absolute;
  width: 103px;
  height: 103px;
  background: #9277ff;
  top: 50%;
  left: 0;
  z-index: 0;
  border-top-left-radius: 20px;
}

.nav-logo picture {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-theme {
  width: 100%;
  margin-top: auto;
  position: relative;
  cursor: pointer;
}

.nav-theme::after {
  content: "";
  background: #494e6e;
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 2.5rem;
}

.nav-theme picture {
  position: absolute;
  top: -65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-avatar {
  padding: 2.5rem 0;
}

.nav-avatar picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.layout-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}

.layout-main {
  width: 55%;
  margin: 0 auto;
  padding: 6rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.backdrop {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
/*# sourceMappingURL=main.css.map */