$primary-blue: #7c5dfa;
$secondary-blue: #9277ff;
$very-dark-blue: #1e2139;
$dark-blue: #253945;

$grey: #888eb0;
$light-blue: #7e88c3;
$very-light-blue: #dfe3fa;

$primary-red: #ec5757;
$secondary-red: #ff9797;

$light-background: #f8f8fb;
$white: #ffffff;

$black: #0c0e16;
$light-black: #141625;

$status-paid: #33d69f;
$status-pending: #ff8f00;
$status-draft: #373b53;

$draft: #373b53;
$x: rgb(224, 228, 250);

$j: #ffffff;
