.button {
	border-radius: 24px;
	border: none;
	outline: none;
	cursor: pointer;

	&-1 {
		background: $primary-blue;
		width: 150px;
		height: 48px;
		position: relative;

		transition: all 0.3s ease-in;

		&:hover,
		&:active {
			background: $secondary-blue;
		}
	}

	&-1 .button-text {
		color: $white;
	}

	&-2 {
		background: $primary-blue;
		color: $white;

		width: 128px;
		height: 48px;
	}

	&-3 {
		width: 96px;
		height: 48px;

		color: $light-blue;
	}

	&-4 {
		width: 133px;
		height: 48px;
		background: #373b53;

		color: #888eb0;
	}

	&-6 {
		background: #f9fafe;
		color: $light-blue;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		letter-spacing: -0.25px;

		// width: 100%;
		padding: 1.5rem 0;
	}

	&-image {
		background: $white;
		width: 32px;
		height: 32px;
		border-radius: 50%;

		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin-right: 10px;

		& img {
			position: absolute;
			@include absolute_centering;
		}
	}

	&-text {
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		letter-spacing: -0.25px;
	}
}
