.control {
	display: flex;

	&-header {
		margin-right: auto;
		width: 60%;

		&__title {
			font-size: 32px;
			font-weight: 700;
			color: $black;
		}

		&__text {
			font-size: 12px;
			font-weight: 500;
			color: $grey;
		}
	}

	&-filter {
		margin-right: 4rem;
		align-self: center;

		&__title {
			&--text {
				font-size: 12px;
				font-weight: 700;
				color: $black;
				margin-right: 10px;
			}
		}
	}
}
