.invoice {
	width: 100%;
	// height: 60vh;
	// margin-top: 6rem;
	position: relative;
	z-index: 0;
	padding-bottom: 13rem;

	&-empty {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 50%);

		&__image {
			width: 241.34px;
			height: 200px;
		}

		&__heading {
			margin-top: 3rem;
			text-align: center;

			& h2 {
				color: $black;
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 2.5rem;
			}

			& span {
				display: block;
				font-size: 12px;
				font-weight: 500;
				color: $grey;
			}
		}
	}

	&-tiles {
		&__content {
			background: $white;
			box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
			border-radius: 8px;
			border: 1px solid transparent;

			display: flex;
			align-items: center;
			// justify-content: space-between;
			width: 100%;
			// height: auto;
			max-height: 100%;
			padding: 1.5rem 2rem;
			text-align: left;
			text-decoration: none;

			&-desktop {
				display: none;
			}

			&-mobile {
				&--1 {
					margin-right: auto;
				}

				&--2 {
					width: 45%;
					display: flex;
					flex-direction: column;
					overflow-wrap: break-word;
				}
			}

			&:hover {
				border: 1px solid $primary-blue;
			}

			&:not(:last-child) {
				margin-bottom: 2rem;
			}

			&--id,
			&--payment-due,
			&--client-name {
				// margin-right: auto;
				width: 100%;
			}

			& img {
				width: 1%;
				height: 1%;
				display: block;
				margin-left: 2rem;
			}

			&--id {
				color: $black;
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				letter-spacing: -0.25px;

				margin-bottom: 24px;
				& span {
					color: $light-blue;
					font-size: 12px;
					line-height: 15px;
					font-weight: bold;
					letter-spacing: -0.25px;
				}
			}

			&--payment-due,
			&--client-name {
				font-size: 12px;
				font-weight: 500;
				line-height: 15px;
				letter-spacing: -0.25px;
			}

			&--payment-due {
				color: $grey;

				margin-bottom: 8px;
			}

			&--client-name {
				text-align: right;

				color: #858bb2;

				margin-bottom: 27px;
			}

			&--total-amount {
				width: 100%;
				font-size: 16px;
				font-weight: bold;
				line-height: 24px;
				letter-spacing: -0.8px;

				text-align: left;
			}

			&--status {
				padding: 1.5rem 1rem;
				width: 104px;
				text-align: center;
				border-radius: 6px;

				align-self: flex-end;

				& p {
					font-size: 12px;
					font-weight: bold;
					line-height: 15px;
					letter-spacing: -0.25px;
					text-transform: capitalize;

					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}

				& p span:first-child {
					display: inline-block;
					vertical-align: middle;
					width: 8px;
					height: 8px;
					border-radius: 50%;

					margin-right: 0.7rem;
				}

				&-paid {
					background: rgba($status-paid, 0.06);

					& p span:first-child {
						background: $status-paid;
					}

					& p span:last-child {
						color: $status-paid;
					}
				}

				&-pending {
					background: rgba($status-pending, 0.06);

					& p span:first-child {
						background: $status-pending;
					}

					& p span:last-child {
						color: $status-pending;
					}
				}

				&-draft {
					background: rgba($status-draft, 0.06);

					& p span:first-child {
						background: $status-draft;
					}

					& p span:last-child {
						color: $status-draft;
					}
				}
			}
		}
	}

	@include responsive_layout(bp__sm) {
		width: 100%;
		// height: 60vh;
		// margin-top: 6rem;
		position: relative;
		z-index: 0;

		&-empty {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 50%);

			&__image {
				width: 241.34px;
				height: 200px;
			}

			&__heading {
				margin-top: 6rem;
				text-align: center;

				& h2 {
					color: $black;
					font-size: 20px;
					font-weight: 700;
					margin-bottom: 2.5rem;
				}

				& span {
					display: block;
					font-size: 12px;
					font-weight: 500;
					color: $grey;
				}
			}
		}

		&-tiles {
			&__content {
				background: $white;
				box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
				border-radius: 8px;
				border: 1px solid transparent;

				display: flex;
				align-items: center;
				// justify-content: space-between;
				width: 100%;
				padding: 1.5rem 4rem;
				text-align: left;
				text-decoration: none;

				&-desktop {
					display: flex;
				}

				&-mobile {
					display: none;
				}

				&:hover {
					border: 1px solid $primary-blue;
				}

				&:not(:last-child) {
					margin-bottom: 2rem;
				}

				&--id,
				&--payment-due,
				&--client-name {
					// margin-right: auto;
					width: 25%;
				}

				& img {
					width: 1%;
					height: 1%;
					display: block;
					margin-left: 2rem;
				}

				&--id {
					color: $black;
					font-weight: bold;
					font-size: 12px;
					line-height: 15px;
					letter-spacing: -0.25px;
					margin-bottom: 0;
					& span {
						color: $light-blue;
						font-size: 12px;
						line-height: 15px;
						font-weight: bold;
						letter-spacing: -0.25px;
					}
				}

				&--payment-due,
				&--client-name {
					font-size: 12px;
					font-weight: 500;
					line-height: 15px;
					letter-spacing: -0.25px;
				}

				&--payment-due {
					color: $grey;
					margin-bottom: 0;
				}

				&--client-name {
					text-align: left;

					color: #858bb2;

					margin-bottom: 0;
				}

				&--total-amount {
					width: 20%;
					font-size: 16px;
					font-weight: bold;
					line-height: 24px;
					letter-spacing: -0.8px;

					text-align: left;
				}

				&--status {
					padding: 1rem 2rem;
					width: 18%;
					text-align: center;
					border-radius: 6px;

					& p {
						font-size: 12px;
						font-weight: bold;
						line-height: 15px;
						letter-spacing: -0.25px;
						text-transform: capitalize;

						display: inline-block;
						vertical-align: middle;
					}

					& p span:first-child {
						display: inline-block;
						vertical-align: middle;
						width: 8px;
						height: 8px;
						border-radius: 50%;

						margin-right: 0.7rem;
					}

					&-paid {
						background: rgba($status-paid, 0.06);

						& p span:first-child {
							background: $status-paid;
						}

						& p span:last-child {
							color: $status-paid;
						}
					}

					&-pending {
						background: rgba($status-pending, 0.06);

						& p span:first-child {
							background: $status-pending;
						}

						& p span:last-child {
							color: $status-pending;
						}
					}

					&-draft {
						background: rgba($status-draft, 0.06);

						& p span:first-child {
							background: $status-draft;
						}

						& p span:last-child {
							color: $status-draft;
						}
					}
				}
			}
		}
	}
}
